---
import Preloader from "../components/Preloader.astro";
import WelcomePhoto from "../components/WelcomePhoto.astro";
import Couple from "../components/Couple.astro";
import Map from "../components/Map.astro";
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.astro";
---

<Layout>
  <div class="page-wrapper">
    <Preloader />
    <WelcomePhoto />
    <Couple />

    <Calendar />

    <Map />
  </div>
</Layout>
