<section class="wpo-couple-section-s2 section-padding" id="couple">
  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <h3 class="couple-heading text-center mb-3">
          Hôn nhân là chuyện cả đời,
          <br />
          Yêu người vừa ý, cưới người mình thương...
          <br />
        </h3>
      </div>
      <div class="col-6 text-center">
        <h4>Nhà trai</h4>
        <h4>Ông</h4>
        <h4>Bà</h4>
      </div>
      <div class="col-6 text-center">
        <h4>Nhà gái</h4>
        <h4>Ông</h4>
        <h4>Bà</h4>
      </div>
    </div>
    <div class="couple-heart">
      <!-- <img  src="/images/couples/heart.png" /> -->
      <div class="couple-heart-img"></div>
    </div>
    <div class="couple-area clearfix">
      <div class="shape-1">
        <img
          class="wow fadeInLeftSlow"
          data-wow-duration="1700ms"
          src="/images/couples/shape-2.png"
          alt=""
          style="visibility: visible; animation-duration: 1700ms; animation-name: fadeInLeftSlow;"
        />
      </div>
      <div class="shape-2">
        <img
          class="wow fadeInRightSlow"
          data-wow-duration="1700ms"
          src="/images/couples/shape-3.png"
          alt=""
          style="visibility: visible; animation-duration: 1700ms; animation-name: fadeInRightSlow;"
        />
      </div>
      <div
        class="row align-items-center justify-content-center wow fadeInUp"
        data-wow-duration="1500ms"
        style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;"
      >
        <div class="col col-lg-4 col-md-6 col-6">
          <div class="couple-item">
            <div class="couple-text">
              <h4>Chú Rể</h4>
              <h3>Hoàng Luân</h3>
            </div>
            <div class="couple-img">
              <img src="/images/couples/groom.jpeg" alt="" />
            </div>
            <div class="round-1"></div>
            <div class="round-2"></div>
            <div class="round-3"></div>
            <div class="layer-1"></div>
            <div class="layer-2"></div>
            <div class="layer-3"></div>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-6">
          <div class="couple-item">
            <div class="couple-text">
              <h4>Cô dâu</h4>
              <h3>Lan Phương</h3>
            </div>
            <div class="couple-img">
              <img src="/images/couples/bride.jpeg" alt="" />
            </div>
            <div class="layer-1"></div>
            <div class="layer-2"></div>
            <div class="layer-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<style>
  .couple-heading {
    font-size: 20px;
  }
  .couple-text h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 20px;
  }
  .couple-heart {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -50px;
  }
  .couple-heart-img {
    width: 100px;
    height: 100px;
    background-image: url("/images/couples/heart.png");
    background-size: cover;
    background-position: center;
  }
</style>
