<section class="wpo-couple-section-s2 section-padding" id="map">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>Địa điểm tổ chức</h1>
        <h3>NHÀ HÀNG TIỆC CƯỚI</h3>
      </div>
      <div class="d-flex justify-content-center">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6602.378950117721!2d106.62935927684757!3d10.844332189308638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752987022c5e3f%3A0xcb7c4e91d5f80813!2zTmjDoCBow6BuZyBD4bqnbiBQaG9uZyAy!5e1!3m2!1svi!2s!4v1752304909482!5m2!1svi!2s"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
