<section class="static-hero-s2">
  <div class="hero-container">
    <div class="hero-inner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-12">
            <div class="static-hero-right">
              <div class="static-hero-img static-hero-img-couple">
                <img src="/images/welcome/welcome_01.jpeg" alt="" />
                <h1
                  class="couple-names wow fadeInLeft"
                  data-wow-duration="1000ms"
                  data-wow-delay="100ms"
                >
                  Hoàng Luân - Lan Phương
                </h1>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-12">
            <div class="wpo-static-hero-inner">
              <div class="shape-1 wow fadeInUp" data-wow-duration="900ms">
                <img src="/images/welcome/shape5.png" alt="" />
              </div>
              <div class="slide-title wow fadeInUp" data-wow-duration="1100ms">
                <h2 class="slide-couple-names">Hoàng Luân - Lan Phương</h2>
              </div>
              <div class="slide-text wow fadeInUp" data-wow-duration="1300ms">
                <p>We Are Getting Married Feb, 2026</p>
              </div>
              <div
                class="wpo-wedding-date wow fadeInUp"
                data-wow-duration="1500ms"
              >
                <div class="clock-grids">
                  <div id="clock" data-date="2024/02/09 00:00">
                    <div class="box">
                      <div><div class="time">531</div> <span>Days</span></div>
                    </div><div class="box">
                      <div><div class="time">11</div> <span>Hours</span></div>
                    </div><div class="box">
                      <div><div class="time">04</div> <span>Mins</span></div>
                    </div><div class="box">
                      <div><div class="time">38</div> <span>Secs</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shape-2 wow fadeInUp" data-wow-duration="1700ms">
                <img src="/images/welcome/shape6.png" alt="" />
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .static-hero-img-couple {
    position: relative; /* Bắt buộc để các phần tử con có position: absolute định vị theo nó */
    text-align: center; /* Căn giữa chữ theo chiều ngang */
  }

  .static-hero-img-couple img {
    border-radius: 3%;
  }

  .couple-names {
    font-family: "Alex Brush", serif;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-7deg);
    font-size: 35px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: rgb(1, 1, 1) 1px 3px 3px;
    white-space: nowrap;
  }

  .slide-couple-names {
    font-family: "Alex Brush", serif;
    font-size: 2rem;
  }
</style>
