<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Hoàng Luân & Lan Phương</title>

    <link href="/css/themify-icons.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/flaticon.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/owl.carousel.css" rel="stylesheet" />
    <link href="/css/owl.theme.css" rel="stylesheet" />
    <link href="/css/slick.css" rel="stylesheet" />
    <link href="/css/slick-theme.css" rel="stylesheet" />
    <link href="/css/swiper.min.css" rel="stylesheet" />
    <link href="/css/nice-select.css" rel="stylesheet" />
    <link href="/css/owl.transitions.css" rel="stylesheet" />
    <link href="/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="/css/jquery-ui.css" rel="stylesheet" />
    <link href="/css/style.css?v=1" rel="stylesheet" />
    <style type="text/css">
      .fancybox-margin {
        margin-right: 0px;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script:wght@400..700&family=Meow+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />

    <!-- All JavaScript files
    ================================================== -->
    <script is:inline src="/js/jquery.min.js"></script>
    <script is:inline src="/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins for this template -->
    <script is:inline src="/js/modernizr.custom.js"></script>
    <script is:inline src="/js/jquery.dlmenu.js"></script>
    <script is:inline src="/js/jquery-plugin-collection.js"></script>
    <!-- Custom script for this template -->
    <script is:inline src="/js/script.js"></script>
    <a href="#" class="back-to-top"><i class="ti-arrow-up"></i></a>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
